<div class="container mt-4 center">
<div class="card 70rems">
    <div class="card-header">
      Instructions
    </div>
    <div class="card-body">
            <div class="d-flex justify-content-between ">
                <div>
             <h5 class="card-title">Welcome {{name}}</h5>
            </div>
             <div>Time Limit: 60 mins </div>
            </div>
      
        <ol class="card-text">
        <li>Do not exit the winow abruptly</li>
        <li>Attemp all the question</li>
        <li>You can change your options before submitting</li>
        <li>Pleae view your results at the end of the exam</li>
        <li>after 60 mins the exam will auto submitted</li>
      </ol>
    
  
      <a routerLink="portal" class="btn btn-primary">Start</a>
    </div>
  </div>

</div>