<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="text-center">
                  <h2 style="color: white;">Forgot Password</h2>
                </div>

                <div class="card" *ngIf="!flag">

                    <form [formGroup]="CheckAns" (ngSubmit)="Check()">
                    <label> {{temp[0].question_Statement}}</label>
                    <input type="text" formControlName="response">

                    <button type="submit" class="btn btn-primary btn-block" style="margin-top: 10px;"> check</button>
                    </form>
                </div> 
                <div *ngIf="flag" class="card">
                    <form [formGroup]="UpdatePass" (ngSubmit)="update()">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                          <input type="password" class="form-control" formControlName="Password" />
                          <label class="form-label"> New Password </label>
                        </div>
                      
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                          <input type="password" id="form1Example2" class="form-control" formControlName="Confirm_Password"/>
                          <label class="form-label">Confirm New Password</label>
                        </div>
                      
                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                      </form>
                
                  </div>                                       
            </div>
        </div>
    </div>
  </div> 

 


 

