<h2 class="aboutus-title" style="margin-left: 7em;">About Us</h2>
<div class="container">
    <div class="row  aboutus">
        
      <div class="col-lg-6">
        <h4 class="aboutus-text">Online Exam System is a platform where we host exams to create report of candidates which can be viewed by the companies.
            This will not only help the companies or any organization to analyze the candidate's performance but also, help the students to get exposure to enough companies.
            Manually going through thousands of colleges and conducting interviews requires a lot of time, efforts and money, this is the reason that most of the companies prefer visiting only top colleges.</h4>
      </div>
      <div class="col-lg-6">
        <img src="https://blog.smarterservices.com/hubfs/What%20Students%20Should%20Expect.jpg" alt="" height="300" width="300">
      </div>
    </div>
  </div>