.card{
   
    padding: 7%;
    background: hsla(205, 46%, 30%,1);
    background: linear-gradient(90deg, hsla(205,46%,30%,1) 0%, hsla(260,29%,36%,1)100%);
}
label{
    color: rgb(248, 244, 244);
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0);
}
select{

    size-adjust: 2rems;
}

.container{
    padding-top: 10%;
    padding-left: 25%;
} 
h6{
    color: rgb(21, 139, 139);
} 

.excel{
    padding: 7%;
    background: hsla(205, 46%, 30%,1);
    background: linear-gradient(90deg, hsla(205,46%,30%,1) 0%, hsla(260,29%,36%,1)100%)
}