body{
    background-image: linear-gradient(180deg, rgb(56, 102, 163), rgb(164, 206, 226));
}
.subjectgrid1{
    padding-top: 10%;
    padding-bottom:15%;
    padding-left: 5%;

}

 .card{
    -webkit-box-shadow: 3px 7px 55px -5px rgba(20, 18, 20, 0.75);
-moz-box-shadow: 3px 7px 55px -5px rgba(20, 18, 20, 0.75);
box-shadow: 3px 7px 55px -5px rgba(20, 18, 20, 0.75);
} 
