<router-outlet></router-outlet>
<div class="footer bg-primary ">
        
  
        
        
       
  
        <div class="container">
            <div class="row">
                <div class=" col-lg-6">
                    <div  class="display-8" ><strong>Get to Know Us</strong></div>
                    
                    <ul>
                        <li> About us </li>
                        <li>Quick links</li>
                        <li>Journals</li>
                      </ul>
                    
                   
                    
                </div>
                <div class=" col-lg-6">
                    <div  class="display-8" ><strong>Team Members</strong></div><br>
                  <ul>
                    <li> Jayaram </li>
                    <li>Nikhil Pratap Singh</li>
                    <li>Vaishnavi Dhumal</li>
                    <li>Rohit Sartendal</li>
                    <li>Rithika</li>
                  </ul>
                </div>
            </div>
        </div>
  
    </div>

