<div class="container ">
    <div class="card ">
        <div class="card-header">
        <strong> Instruction</strong>
        </div>
        <div class="card-body">
                <div class="d-flex justify-content-between ">
                    <div>
                 <h5 class="card-title">Welcome {{name}}</h5>
                </div>
                 <div>Time Limit: 60 mins </div>
                </div>
          
            <ul class="card-text">
            <li>Do not exit the winow abruptly</li>
            <li>Attemp all the question</li>
            <li>You can change your options before submitting</li>
            <li>Time allotted for the test is 60 min </li>
            </ul>
        
      
          <a routerLink="portal" class="btn btn-primary">Start</a>
        </div>
      </div>
    
    </div>