
<nav class="navbar navbar-expand-lg navbar-primaey bg-primary">
  <div class="container-fluid">

    <a class="navbar-brand" href="#" style="color:white;font-weight: bold;">PARIKSHA</a>
  
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="padding: left 2%;">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#" style="color:white;">Home</a>
        <a class="nav-link active" routerLink="/login"  style="color:white;">Logout</a>
      </div>
    </div>
  </div>
</nav>

