<app-user-navbar></app-user-navbar>



<section>
  <div class="container testgrid">
    <div class="row">
      <h1 *ngIf="tests.length<1" style="color:rgb(13, 13, 13);"> No Test Available </h1>
      <div class="col-md-4"*ngFor="let row of tests">
        
          <div class="card d-flex flex-column " style="width: 16rem; " >
                <div>
                    <img class="card-img-top" src="../assets/images/level{{row.test_Level}}.png" alt="Card image cap" height="150" width="150">
                    <div class="card-body" style="text-align: center;">
                     
                          <h5 class="card-title" style="font-size:1.5rem;font-weight:bold ;">{{row.test_Level}}</h5>
                     
                          <button [disabled]="Check(row.test_Id, row.test_Level)" class="btn btn-primary btn-lg" style="color:white" target="_blank" routerLink="welcome/{{row.test_Id}}">START TEST</button>
                     
                    </div>

                </div>
                   
          </div>
      </div>
<section>

<div class="d-flex justify-content-center" >
     <button class="btn btn-info btn-lg " style="margin: 10rem 29rem ;" (click)="Gotodashboard()">Go back to dashboard</button>
 </div>
    


