<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <!-- Contact Us Section -->
    <section class="">
      <div class="container" style="margin-top: 4rem;">
          <div class="row">
              <!-- Section Titile -->
              <h1 class="section-title" style="margin: left 1rem;"><strong>Love to Hear From You</strong></h1>
          </div>
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-6 " data-wow-delay=".2s">
                <p>We would love you contact us. We as a company is always their to help our customers in difficult times. If you face any issue contact us , contacts details are given below.</p>

                <div class="find-widget">
                 Company:  <a href="https://www.lntinfotech.com/contact-us/">LTI</a>
                </div>
                <div class="find-widget">
                 Address: <a href="#">Mahape II block</a>
                </div>
                <div class="find-widget">
                  Phone:  <a href="#">+ 879-890-9767</a>
                </div>
                
                <div class="find-widget">
                  Website:  <a href="www.lntinfotech.com">www.lntinfotech.com</a>
                </div>
                <div class="find-widget">
                   Program: <a href="#">Mon to Sat: 09:30 AM - 10.30 PM</a>
                </div>
                
              </div>
              
              <div class="col-md-6 ">
              <img src="https://media.istockphoto.com/photos/-picture-id1311934969?b=1&k=20&m=1311934969&s=170667a&w=0&h=UQ3F8CE5zam5mT5swIliZ9nO7dhX4ZzsALMufFdv6Ys=" alt="" height="400" width="600">
                
              </div>
              
              
          </div>
      </div>
      
        

</section>
